.postItem_wrapper {
  max-width: 700px;
  margin: 0px auto 10px auto;
  padding: 10px;
  border: 2px solid cadetblue;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat';
}

.posrItem_textContainer {
}

.postItem_textContainer__title {
  font-size: 26px;
  font-weight: 500;
  color: black;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.postItem_textContainer__body {
  font-size: 18px;
  font-weight: 400;
  color: dimgrey;
}
